/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameBoard {
    /*margin: 0 auto;*/
    width: 700px;
    height: 450px;
    /*display: block;*/
    border:1px solid #ccc;
}


svg{
  background-color: teal;
}

body {
  background-image: url(http://latentflip.com/LearningD3/collider/bo_play.png)
}

.scoreboard{
  color: white;
}